footer {
  font-family: 'Roboto', sans-serif;
  background: var(--footer-bg);
  padding-block: 50px;
  color: #fff;
  margin-bottom: 0;
}
.footer-contato {
  display: grid;
  justify-content: center;
  gap: 10px;
}
.footer-contato li {
  list-style: circle;
}
/* .menu-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.form-model fieldset{
  padding: 20px;
  border: none;
  border-left: 5px solid #8B41EF;
}
.form-model legend {
  font-size: 25px;
}
label {
  display: block;
  margin-block: 5px;
  color: #B0B2B3;
  
}
input,
textarea {
  padding: 15px;
  width: 80%;
  color: #fff;
  background-color: #1B1D20;
  display: block;
  border-color: #000;
  border-radius: 4px;
  transition: 0.4s;
}
input:hover {
  border-color: #fff;
} */

